@font-face {
  font-family: 'SuisseIntl-Regular';
  src: font-url('SuisseIntl-Regular.woff2') format('woff2'),
       font-url('SuisseIntl-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-Medium';
  src: font-url('SuisseIntl-Medium.woff2') format('woff2'),
       font-url('SuisseIntl-Medium.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'FoundersGroteskMono.woff';
  src: font-url('FoundersGroteskMono.woff') format('woff');
  font-style: normal;
}
