<%= render 'admin/shared/breadcrumbs' %>
<div class="card">
  <h1 class="card-header h2">Forest CMS</h1>
  <div class="card-body pb-0">
    <% @_rendered_resources = [] %>
    <%= render 'admin/dashboard/panel',
               title: 'Memories',
               resources: [Memory] %>
    <%= render 'admin/dashboard/panel',
               title: 'Content',
               resources: [Page, MediaItem, Setting] %>
    <%= render 'admin/dashboard/panel',
               title: 'Admin',
               resources: @admin_resources - @_rendered_resources %>
  </div>
</div>
