// Font stacks
$font-mono-regular: 'FoundersGroteskMono', monospace;
$suisse-regular: 'SuisseIntl-Regular', sans-serif;
$suisse-medium: 'SuisseIntl-Medium', sans-serif;

@mixin body-text {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.4;
  font-family: $suisse-regular;

  @include breakpoint(md) {
    font-size: 24px;
  }
}
.body-text { @include body-text; }

@mixin default-font {
  @include body-text;
}

@mixin large-title {
  font-size: 34px;
  letter-spacing: 0;
  line-height: 1;
  font-family: $suisse-medium;

  @include breakpoint(md) {
    font-size: 54px;
  }
}
.large-title { @include large-title; }

@mixin jumbo-title {
  font-size: 36px;
  letter-spacing: 0;
  line-height: 1;
  font-family: $suisse-medium;

  @include breakpoint(md) {
    font-size: 60px;
  }
}
.jumbo-title { @include jumbo-title; }

@mixin small-text {
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-family: $suisse-regular;
  text-transform: uppercase;
}
.small-text { @include small-text; }

@mixin caption {
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.2;
  font-family: $font-mono-regular;
}
.caption { @include caption; }
