<div class="site-container">
  <div class="container-fluid">
    <div id="memories-container" class="row">
      <% cache ['memories_index', current_user.try(:admin?), application_cache_key], expires_in: 4.weeks do %>
        <% @memories.each_with_index do |memory, index| %>
          <%= render 'memories/memory', memory: memory, index: index %>
        <% end %>
      <% end %>
      <% if @pagy.next.present? %>
        <a id="next-page" data-page="2" style="display: none;"></a>
      <% end %>
    </div>
  </div>
</div>
